@import url("https://p.typekit.net/p.css?s=1&k=sgj1gpc&ht=tk&f=39495.39496.39498&a=53794385&app=typekit&e=css");

@font-face {
  font-family: "Manrope", sans-serif;
  font-family: "Overpass", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*Italic
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;*/
/*BOLD
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;*/
h1,
h2,
h3,
p,
a,
li {
  font-family: var(--ff-primary);
  color: var(--clr-text);
  display: inline-block;
}
:root {
  --ff-primary: "Manrope";
  --ff-secondary: "Helvetica"
  --ff-option1: "Open sans"
  /*Font weight*/
  --fw-ing: 200;
  --fw-n: 400;
  --fw-m: 500;
  --fw-b: 700;

  /*Font size*/
  --fs-mega: 2.1rem;
  --fs-1: 32px;
  --fs-2: 20px;
  --fs-3: 18px;
  --fs-p: 16px;
  --fs-ing: 16px;


  /*Colours*/
  --clr-primary: #fefefe
  --clr-thirdiary: #d9d9d9;
  --clr-secondary: #e6e6e6;
  --clr-cta: #c06e26; /* */
  --clr-text: #000000;
  --clr-option1: #038c8c;
  --clr-option2: #037f8c;
  --clr-option3: #024959;
  --clr-title: #50ADAD; 
  --clr-subtitle: #162424;  
  --clr-subtile: #697373; 
  --primary-darkmode: #000000;

  /*Displays*/

  /*Height, widt, margin, padding and so on..*/
  --hgt-1: 100%;
  --mrg-1: 0.1rem;
}
html,
body {
  --hgt-1: 100%;
  --mrg-1: 0.1rem;
  min-height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-b);
  color: var(--clr-title);
  line-height: 44px;
}
h2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-m);
  color: var(--clr-subtitle);
  line-height: 25px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-n);
  color: var(--clr-subtitle);
}
p {
  font-size: var(--fs-p);
  font-weight: var(--fw-n);
  text-decoration: none;
  line-height: 28px;
}
a {
  font-size: var(--fs-p);
  font-weight: var(--fw-n);
  /* text-decoration: none; */
  color: #000000;
}
/* br {
  padding-top: .4rem;
  padding-bottom: .4rem;
} */
.ingres {
  font-size: var(--fs-ing);
  font-weight: var(--fw-ing);
  color: var(--clr-subtitle);
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}